<%= render 'events/carousel' %>

<%= render 'events/selection', event1: @events.sample, event2: @events.sample  %>
<hr>
<div class="container" id="index">
  <h1 class="text-center">Events</h1>
  <br>    
  <div class="d-flex flex-wrap justify-content-center">
    <% @events.each do |event| %>
        <%= render 'events/event', event: event %>
      <% end %>

  </div>
</div>
