<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.name %> vous avez un nouveau participants à votre évènement <%= @event.title %> !</h1>
    <p>
      Il s'appelle <%= @user.name %>
    </p>
    <p>
  </body>
</html>