<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>Change password</title>
    </head>

    <body>
        <h1 align="center">Change your password</h1>

         <form method="post" action="traitement.rb">

         	<div class="form-group col-md-5 m-auto">
         		<label for="actual password"></label>
                <input class="form-control" type="password" name="actual password" id=" actual password" placeholder=" Actual password">
         	</div>

         	<div class="form-group col-md-5 m-auto">
         		<label for="new password"></label>
                <input class="form-control" type="password" name="new password" id=" New password" placeholder=" New password">
         	</div>

         	<div class="form-group col-md-5 m-auto">
         		<label for="confirm password"></label>
                <input class="form-control" type="password" name=" confirm password" id=" confirm password" placeholder=" Confirm password">
         	</div>

         	<br>

         	<div class="form-group col-md-5 m-auto">
         		 <input class="btn btn-primary" type="submit" value="Change your password"/>
         	</div>


     </body>
</html>