<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <title>Forgot your password?</title>
    </head>

    <body>
        <h1 align="center">Forgot your password ?</h1>

        <form method="post" action="traitement.rb">

        	<div class="form-group col-md-5 m-auto">
        		<label for="email" class=""></label>
                <input class="form-control" type="text" name="email" id="email" placeholder="Email">
            </div>

            <br>

            <div class="form-group col-md-4 m-auto">
            	<input class="btn btn-primary" type="submit" value="Send me reset passeword instructions"/>
            </div>
        </form>
    </body>
</html>