 <div class="list-group">
       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
           <div class="d-flex w-100 justify-content-between">
                <%=  image_tag "monkey-653705_960_720.jpg", alt: "toi", class: 'user-pic'%> 
               <h5 class="mb-1">John Doe</h5>
               <small>3 days ago</small>
           </div>
           <h1 class="mb-1 center">Title</h1>
       </a>
       <textarea id="comments" cols="30" rows="10"></textarea>
       <input type="submit" value="Commenter!">
   </div>