<div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-body town-background">
        <a href="#">
            <h4 class="card-title">Light card title</h4>
        </a>         
    </div>
</div>
