<%flash.each do |name,msg|%>
    <% name = "success" if name == "notice" %>
    <% name = "danger" if name == "alert" %>

    <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
        <h4>Alerte</h4>
        <p><%= raw(msg)%></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>
